@import url(../css/style.css);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "PT Sans", sans-serif;
}
.container{
    max-width: 1240px;
    margin: 0 auto;
}
li{
    list-style-type: none;
}
a{
    text-decoration: none;
}
.hero-wrapper{
    margin-top: 109px ;
    display: flex;
    align-items: center;
}
.hero__item{
    h1{
    font-family: "Exo 2", sans-serif;
    font-size: 52px;
    font-weight: 600;
    line-height: 65px;
    text-align: left;
    max-width: 610px;
    }
    p{
        font-family: "PT Sans", sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        color: #6B6B6C;
        margin: 40px 0;
        max-width: 525px;

    }
    a{
        text-decoration: none;
        display: inline-block;
        font-family: "PT Sans", sans-serif;
        font-size: 16px;
        font-weight: 700;
        line-height: 24px;
        color: #363738;
        border-bottom: 3px solid #FFCE50;
        padding-bottom: 10px;
    }
}
.hero_img{
    img{
        max-width: 635px;
        border-radius: 5px;
        overflow: hidden;
        object-fit: cover;
        
    }
}
.title-cards{
    margin: 67px 0;
    padding: 40px 0 56px 0;
    border-radius: 20px;
    display: grid;
    grid-template-columns: repeat(3,413px);
    justify-content: space-between;
    box-shadow: 0px 4px 20px 0px #00000026;


    .title-menu{
        display: flex;
        gap: 64px;
        .title-bord{
            max-width: 261px;
            border: 1px solid #D7D7DD;

        }
    }
    .title-card{
        max-width: 228px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        
        .title-img{
            max-width: 92px;
            height: 92px;
            width: 100%;
            background-color: #E9E9EC;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
        }

        strong {
            display: inline-block;
            font-family: "Exo 2", sans-serif;
            font-size: 20px;
            font-weight: 600;
            line-height: 27px;
            text-align: left;
            padding: 24px 0 16px 0;
            color: #363738;
        }
        p{       
            font-family: "PT Sans", sans-serif;
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
            text-align: left;
            color: #6B6B6C;

        }
    }
    .pad{
        margin-left: 80px;
    }

   
}
.webr-img {
    position: relative;
    img{
        display: inline-block;
        width: 100%;
    }
    .webr-text{
        position: absolute;
        top: 0;
        max-width: 769px;
        width: 100%;
        background-color: #0B7572;
        clip-path: polygon(0 0, 61% 0, 100% 100%, 0% 100%);

        h2{
            font-family: "Exo 2", sans-serif;
            font-size: 48px;
            font-weight: 600;
            line-height: 60px;
            text-align: left;
            padding: 172px 317px 160px 90px;
            color: #FFFFFF;
        }
    }
}
.webr-cards{
    margin: 72px 0 0 64px;
    display: grid;
    grid-template-columns: repeat(2, 447px);
    gap: 62px 140px;


    .webr-card{
        display: flex;
        gap: 40px;
        align-items: center;

        .webr-icon{
            max-width: 80px;
            height: 80px;
            width: 100%;
            background-color: #E9E9EC;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
        }
        strong{
            font-family: "Exo 2", sans-serif;
            font-size: 20px;
            font-weight: 600;
            line-height: 27px;
            text-align: left;
            color: #363738;
        }
        p{
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
            text-align: left;
            font-family: "PT Sans", sans-serif;
            padding-top: 16px;
            color: #6B6B6C;

        }

    }
}
.list-wrapper{
    margin: 120px 0 212px 0;

    h2{
        font-family: "Exo 2", sans-serif;
        font-size: 48px;
        font-weight: 600;
        line-height: 60px;
        text-align: left;
        color: #363738;
    }
    p{
        font-family: "PT Sans", sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        text-align: left;
        color: #6B6B6C;
        padding: 32px 0 56px 0;
    }
    .list-cards{
        display: grid;
        grid-template-columns: repeat(3,393px);
        gap: 30px;

        .list-card{
            border-radius: 10px;
            box-shadow: 0px 4px 15px 0px #0000001F;
            img{
                width: 100%;
                object-fit: cover;
            }
            .list-text{
                padding: 32px;
                
                strong{
                    color: #363738;
                    font-family: "Exo 2", sans-serif;
                    font-size: 20px;
                    font-weight: 600;
                    line-height: 27px;
                    text-align: left;
                }
                p{
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 24px;
                    font-family: "PT Sans", sans-serif;
                    text-align: left;
                    color: #6B6B6C;
                    padding: 16px 0 32px 0;
                }
                a{
                    font-family: "Exo 2", sans-serif;
                    font-size: 16px;
                    font-weight: 600;
                    line-height: 21.6px;
                    color: #363738;
                    padding-bottom: 10px;
                    border-bottom: 3px solid #FFCE50;


                }
            }
            

        }
    
    }
}
.paper-wrapper{
    background-color: #0B7572;
    padding: 85px 66px 85px 81px;
    display: flex;

    h2{
        font-family: "Exo 2", sans-serif;
        font-size: 48px;
        font-weight: 600;
        line-height: 60px;
        text-align: left;
        color: #363738;
        color: #FFFFFF;
    }
    img{
        max-width: 652px;
    }



}
.steps-wrapper{
    margin: 120px 0;

    h2{
        font-family: "Exo 2", sans-serif;
        font-size: 48px;
        font-weight: 600;
        line-height: 60px;
        text-align: left;
        color: #363738;
    }
    .steps-cards{
        padding: 48px 0 0 50px;
        display: grid;
        grid-template-rows: repeat(3,245px);
        gap: 24px;

        .steps-card{
            padding: 32px 132px 32px 96px;
            display: flex;
            gap: 56px;
            box-shadow: 0px 4px 15px 0px #0000001F;
            border-radius: 10px;

            strong{
                font-family: "Exo 2", sans-serif;
                font-size: 20px;
                font-weight: 600;
                line-height: 25px;
                text-align: left;
                color: #363738;
            }
            .steps-slash{
                border: 2px solid #FFCE50;
                max-width: 86px;
                margin: 24px 0;
            }
            p{
                font-family: "PT Sans", sans-serif;
                font-size: 16px;
                font-weight: 400;
                line-height: 24px;
                text-align: left;
                color: #6B6B6C;
            }
        }
    }
}
.logo-wrapper{

    h2{
        font-family: "Exo 2", sans-serif;
        font-size: 48px;
        font-weight: 600;
        line-height: 60px;
        text-align: left;
        color: #363738;
    }
    .logo-cards{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        padding-top: 90px;
        gap: 71px 0;

        .logo-card{
            display: flex;
            .logo-bord{
                max-width: 183px;
                border: 1px solid #D7D7DD

            }
            .logo-menu{
                padding: 0 73px 0 60px ;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
                height: 174px;

                .logo-text{
                    text-align: center;

                    strong{

                        font-family: "Exo 2", sans-serif;
                        font-size: 20px;
                        font-weight: 600;
                        line-height: 27px;
                    }
                    p{
                        font-family: "PT Sans", sans-serif;
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 21px;
                        color: #6B6B6C;
                        white-space: nowrap;
                        padding-top: 14px;
                    }
                }
            }

        }
    }
}
.icon-wrapper{
    margin: 130px 0;

    h2{
        font-family: "Exo 2", sans-serif;
        font-size: 48px;
        font-weight: 600;
        line-height: 60px;
        text-align: left;
        color: #363738;
    }
    .icon-cards{
        padding-top: 72px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 24px 30px;

        .icon-card{
            display: flex;
            align-items: center;
            padding: 32px 0 40px 32px;
            gap: 40px;
            box-shadow: 0px 4px 15px 0px #00000026;
            border-left: 51px solid #0B7572;
            border-radius: 10px;
            
            img{
                max-width: 138px;
            }
            strong{
                font-family: "Exo 2", sans-serif;
                font-size: 20px;
                font-weight: 600;
                line-height: 24px;
                color: #363738;
            }
            p{
                font-family: "PT Sans", sans-serif;
                 font-size: 14px;
                font-weight: 400;
                line-height: 21px;
                color: #6B6B6C;
                white-space: nowrap;
                padding-top: 12px;
            }
            .icon-bord{
                border: 3px solid #FFCE50;
                max-width: 86px;
                margin-top: 16px;
            }
            .icon-img{
                display: flex;
                gap: 20px;
                margin-top: 32px;
            }
        }
    }
}
.contact-wrapper{
    margin-bottom: 46px;

    h2{
        font-family: "Exo 2", sans-serif;
        font-size: 48px;
        font-weight: 600;
        line-height: 60px;
        text-align: left;
        color: #363738;
    }
    address{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 72px;

        .contact-card{
            display: flex;
            flex-direction: column;
            gap: 44px;

            .contact-item{
                display: flex;
                gap: 36px;
                align-items: center;

                p{
                    font-family: "PT Sans", sans-serif;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 21px;
                    text-align: left;
                    color: #6B6B6C;
                    padding-bottom: 8px;
                }
                a{
                    color: #363738;
                    font-family: "Exo 2", sans-serif;
                    font-size: 20px;
                    font-weight: 600;
                    line-height: 24px;
                    text-align: left;
                }
                
            }
        }
        .contact-box{
            max-width: 794px;
            background-color: #F9F9FB;
            display: flex;
            flex-direction: column;
            gap: 32px;
            padding: 40px 72px 56px 48px;

            .contact-etem{
                display: flex;
                border-bottom: 1px solid #E9EAF2;

                span{
                    flex: 1.2;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 20px;
                    text-align: left;
                    font-family: "PT Sans", sans-serif;
                    color: #6B6B6C;

                }
                strong{
                    flex: 3;
                    font-size: 16px;
                    font-weight: 600;
                    line-height: 20px;
                    text-align: left;
                    font-family: "Exo 2", sans-serif;
                    color: #363738;

                }
            }
        }
    }

}
.footer{
    background-color: #0B7572;
}
.footer-wrapper{
    margin-top: 166px;
    display: flex;
    justify-content: space-between;
    padding-top: 60px;
     
    h2{
        font-family: "Familjen Grotesk", sans-serif;
        font-size: 60px;
        font-weight: 500;
        line-height: 90px;
        letter-spacing: 0.16em;
        text-align: left;
        color: #FFFFFF;
    }
    .footer-link{
        max-width: 350px;
        width: 100%;
        display: flex;
        justify-content: space-between;

        .footer-ul{
            display: flex;
            flex-direction: column;
            gap: 30px 0;
        }
        .footer-uel{
            display: flex;
            flex-direction: column;
            gap: 20px 0;
        }
        a{
            font-family: "Exo 2", sans-serif;
            font-size: 13px;
            font-weight: 500;
            line-height: 19.5px;
            letter-spacing: 0.16em;
            text-align: left;
            color: #FFFFFF;
        }
        
    }
    .footer-box{

        .footer-img{
            display: flex;
            gap: 15px;
            margin-bottom: 32px;
        }
        a{
            font-family: "Exo 2", sans-serif;
            font-size: 13px;
            font-weight: 600;
            line-height: 19.5px;
            text-align: left;
            color: #FFFFFF;
        }
        
        button{
                font-family: "Open Sans"sans-serif;
                font-size: 13px;
                font-weight: 600;
                line-height: 19.5px;
                text-align: left;
                background-color: transparent;
                border:1px solid #ff971958;
                outline: none;
                color: #fff;


                display: flex;
                align-items: center;
                justify-content: center;
                gap: 8px;
                padding: 8px 12px;
                background-color: #FF9619;
                margin-top: 32px;
        }
        button:hover{
            color: #FF9619;
            background-color: transparent;
                
        }
        


    }

}
.footer-title{
    padding: 80px 0 23px 0;
    p{
        font-family: "Exo 2", sans-serif;
        font-size: 12px;
        font-weight: 500;
        line-height: 18px;
        letter-spacing: 0.16em;
        text-align: center;
        color: #FFFFFF;

    }

}

@media only screen and (max-width:1170px) {
    .hero-wrapper{
        flex-direction: column;
        img{
            max-width: 690px;
        }
        h1{
            max-width: 690px;
            font-size: 44px;
        }
        p{
            max-width: 690px;
            text-align: center;
        }
        a{
            margin-bottom: 87px;
        }

    }
    .title-cards{
        display: flex;
        flex-direction: column;

        .title-card{
            flex-direction: row;
            align-items: center;
        }
        
    }
    
}
@media only screen and (max-width:690px) {
    .hero-wrapper{
        p{
            text-align: left;
        }
        img{
            max-width: 345px;
        }
    }




}